# Data/Config folders #
#######################
__pycache__\
**/__pycache__/
migrations/
**/migrations/

# Log and DataBase #
####################
*.log
*.sql

# Terrain files #
##############
*.csv

# Compiler #
############
*.pyc
*.pyc
__pycache__/explorer.cpython-37.pyc
__pycache__/models.cpython-37.pyc


#
upload.sh
pa_reload.py


# Sandbox
curves.py     
energyRate.py
sandbox.py
dirt.py